$breakpoint-lg: 1200px;

$background-primary: rgb(26, 26, 26);
$background-secondary: rgb(67, 66, 66);
$color-primary: rgb(235, 232, 232);
$color-secondary: rgb(196, 196, 196);

$transition-duration: 0.25s;

$header-height: 100px;
$footer-height: 100px;

@mixin container-border {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
}

@mixin hover-flip {
  cursor: pointer;
  transition: background-color $transition-duration ease-in-out;

  &:hover {
    color: $background-primary;
    background-color: $color-primary;
  }
}

@mixin hover-underline($underline-opacity) {
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: $color-primary;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: opacity, width $transition-duration ease-in-out;
    opacity: 0;
  }
  &:hover {
    &:after {
      opacity: $underline-opacity;
      width: 100%;
    }
  }
}
